html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    flex-shrink: 0;
    text-align: center;
    background: #89CFF0;
    color: white;
    padding: 20px;
}

main {
    height: auto;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px; /* Espaçamento entre os elementos */
    padding: 20px;
}

section {
    margin-top: 20px;
}

footer p {
    margin: 0;
}

form {
    display: flex;
    align-items: center;
    font-weight: bold;
}

label {
    margin-bottom: 5px;
}

fieldset {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre os elementos */
}

.radio-group input[type="radio"] {
    margin-right: 5px; /* Espaçamento entre o botão de rádio e o rótulo */
}

.radio-group label {
    margin-bottom: 0px;
    margin-top: 3px;
    margin-right: 5px;
}

.select-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-group select {
    width: 70%;
}

.select-group label {
    margin: 1px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

#formulario {
    height: 60vh; /* Define a altura do main para ocupar a altura total da viewport */
    overflow:scroll;
    flex: 0.5;
    background: lightcyan;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#links {
    height: 60vh; /* Define a altura do main para ocupar a altura total da viewport */
    overflow:scroll;
    flex: 0.5;
    background: lightcyan;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box-element {
    text-align: center;
    background-color: white;
    margin: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.box-list {
    height: auto;
    display: flex;
    flex-direction: column;
}

.box-grid {
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
}