html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    flex-shrink: 0;
    text-align: center;
    background: #89CFF0;
    color: white;
    padding: 20px;
}

footer p {
    margin: 0;
}

main {
    height: auto;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 5px;
    padding: 20px;
}

section {
    margin-top: 20px;
}

form {
    display: flex;
    align-items: center;
    font-weight: bold;
}

label {
    margin-bottom: 5px;
}

fieldset {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input,
select {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

input:disabled {
    background-color: lightgray;
}

div {
    width: 100%;
    margin-bottom: 20px;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    cursor: auto;
    background-color: gray;
}

#formulario {
    height: 60vh; /* Define a altura do main para ocupar a altura total da viewport */
    flex: 1;
    background: lightcyan;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}