html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,
footer {
    flex-shrink: 0;
    text-align: center;
    background: #89CFF0;
    color: white;
    padding: 20px;
}

footer p {
    margin: 0;
}

main {
    height: auto;
    overflow:hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
}

section {
    margin-top: 20px;
}

button {
    display: block;
    width: 80%;
    padding: 10px;
    margin: auto;
    background-color: #89CFF0;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

button:hover {
    background-color: #45a049; /* Cor de fundo ao passar o mouse */
}

#painel {
    height: 60vh;
    overflow-y: scroll;
    flex: 0.4;
    background: lightcyan;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#opcoes {
    height: 60vh;
    overflow-y: scroll;
    flex: 0.6;
    background: lightcyan;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.box-element {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 5px;
    padding: 10px 0px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.box-list {
    height: auto;
    display: flex;
    flex-direction: column;
}